*{
    box-sizing: border-box;
    margin: 0;
}

/* Header  */

header{
    border-bottom: 2px rgba(199, 198, 198,05) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
}

header #header-section img {
    width: 12%;
}

#header-section{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-section{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#header-section a{
    margin-right: 20px;
    color: black;
    text-decoration: none;
}

#header-section button{
    border: #2d96c8 solid 2px;
    padding:0.5em 1.2em;
    border-radius:2em;
    background: none;
    margin-left: 25px;
}

#header-section button:hover{
    background-color: #2d96c8;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

/* Section Pub */

#section-pub{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    overflow: hidden;
}

#section-pub img{
    width: 45%;
}

#pub-bloc span{
    font-size: 20px;
    color: #ef5466;
}

#pub-bloc{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 80%;
    width: 40%;
}

#pub-bloc h1{
    font-size: 40px;
}

#pub-bloc button{
    margin-right: 15px;
    color: white;
    border:#ef5466 solid 2px;
    background-color: #ef5466;
    padding:1.2em 5em;
    border-radius:2em;
}

#pub-bloc #pub-button2 {
    border-color: #000;
    color: black;
    background: none;
}

/* Section presentation */

#presentation{
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#presentation img{
height: 100%;
}

#presentation-bloc{
    line-height: 1.5;
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

#presentation-bloc h1{
    font-size: 54px;
    margin-bottom: 25px;
}

#presentation-bloc .random{
    display: flex;
    justify-content: space-between  ;
}

.random {
    height: 100%;
    width: 100%;
}

.random div{
    width: 50%;
    margin-right: 12%;
}

/* Stalk pub */

#stalk-pub{
    color: white;
    height: 25vh;
    width: 100%;
    background-color: #ef5466;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    
}

#stalk-pub div{
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 50%;
}

/* border: 4px solid black; */
#stalk-pub h1{
    font-size: 45px;
}

#stalk-pub p{
    font-size: 20px;
}

/* Music section */

#music{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#music-bloc{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.card-sub{
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 18%;
    box-shadow: -4px 4px 10px 1px rgba(0, 0, 0, 0.2) ;
    height: 100%;
}

.card-sub button{
    background-color: #ef5466 ;
    padding:1em 5em;
    border-radius:2em;
    margin: 25px 25px;
}

.card-sub ul{
    margin-left: -20%;
    list-style: none;
    line-height: 2;
    margin-top: 4%;
}

.imblue{
    color: white;
    background-color: #2d96c8;
}

.up-pub{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 33%;
}

.blue-txt{
    color: #2d96c8;
}

/* Totalsub section */

#totalsub{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card-info{
    width: 100%;
    height: 32%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.card-info div{
    width: 40%;
}

.card-info span{
    color: red;
    margin-left: 2%;
}

.card-info button{
    padding:0.5em 2.3em;
    border-radius:2em;
    background: none;
    border: solid black 1px;
}

/* FOOTER  */

footer{
    width: 100%;
    color: white;
    height: 80vh;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: black;
}

.footer-list{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    line-height: 3;
}

.footer-ic{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20%;
}

.footer-ic div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}

.footer-ic div img{
    width: 25px;
}

.footer-ic img{
    width: 10%;
}

.dark{
    color:#8e8e94
}