*{
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

/* Header  */

header{
    border-bottom: 2px rgba(199, 198, 198,05) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
}

header #header-section img {
    width: 12%;
}

#header-section{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-section{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#header-section a{
    margin-right: 20px;
    color: black;
    text-decoration: none;
}

#header-section button{
    border: #2d96c8 solid 2px;
    padding:0.5em 1.2em;
    border-radius:2em;
    background: none;
    margin-left: 25px;
}

#header-section button:hover{
    background-color: #2d96c8;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

/* Section Pub */

#section-pub{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

#section-pub img{
    width: 45%;
}

#pub-bloc span{
    font-size: 20px;
    color: #ef5466;
}

#pub-bloc{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 80%;
    width: 40%;
}

#pub-bloc h1{
    font-size: 40px;
}

#pub-bloc button{
    margin-right: 15px;
    color: white;
    border:#ef5466 solid 2px;
    background-color: #ef5466;
    padding:1.2em 5em;
    border-radius:2em;
}

#pub-bloc #pub-button2 {
    border-color: #000;
    color: black;
    background: none;
}

